n8n/extraction-stage1.json
{
  "name": "Stage 1 - Email Extraction",
  "nodes": [
    {
      "parameters": {},
      "id": "389d9676-d15b-409b-bef3-85b3a7c81097",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        620
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "senders",
        "returnAll": true
      },
      "id": "f612364b-edd9-46e6-815a-015b2f21f08c",
      "name": "Senders",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kkiHzEYLOtK6ZLEy",
          "name": "Nika"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "glossary",
        "returnAll": true
      },
      "id": "aca91714-9a7b-4615-aa89-7f9408e25038",
      "name": "Glossary",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        140
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kkiHzEYLOtK6ZLEy",
          "name": "Nika"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "exclusions",
        "returnAll": true
      },
      "id": "109d8a89-aca5-4055-ae98-674e4a48a746",
      "name": "Exclusions",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        280
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kkiHzEYLOtK6ZLEy",
          "name": "Nika"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "mandatory_fields",
        "returnAll": true
      },
      "id": "fc22a923-0432-425e-b1db-2e6e1153adec",
      "name": "MandatoryFields",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        420
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kkiHzEYLOtK6ZLEy",
          "name": "Nika"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "label_notes",
        "returnAll": true
      },
      "id": "49321d56-4c1e-4255-899a-290fd82bef78",
      "name": "LabelNotes",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        560
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kkiHzEYLOtK6ZLEy",
          "name": "Nika"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "catalog_lines",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "in_progress"
            }
          ]
        }
      },
      "id": "1da968d5-7114-40cd-888f-98ce1966d53b",
      "name": "Open Catalog Lines",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        700
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kkiHzEYLOtK6ZLEy",
          "name": "Nika"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 50,
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "f94dc508-7e42-497e-8995-e718c8353eac",
      "name": "Get Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        240,
        880
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// One item per attachment binary, carrying email context, normalized to binary \"data\".\nconst out = [];\nfor (const item of $input.all()) {\n  const bin = item.binary || {};\n  for (const key of Object.keys(bin)) {\n    out.push({\n      json: {\n        message_id: item.json.id,\n        thread_id: item.json.threadId,\n        filename: bin[key].fileName || key,\n      },\n      binary: { data: bin[key] },\n    });\n  }\n}\nreturn out;"
      },
      "id": "d86cd446-b29d-41c9-bf3d-418a0da39c2c",
      "name": "Split Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        1040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/v1/parsing/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "76d0a5bd-33f7-4588-8263-97be25dba6b3",
      "name": "LlamaParse Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        1040
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "63a0abcb-4dd1-4091-9703-b49f55a93060",
              "name": "job_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "27a98c76-e998-45e2-a630-f65e607b7693",
              "name": "message_id",
              "value": "={{ $('Split Attachments').item.json.message_id }}",
              "type": "string"
            },
            {
              "id": "d498b89b-7f74-4fe7-b8f1-712b2785b437",
              "name": "filename",
              "value": "={{ $('Split Attachments').item.json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "04b3c9d4-a5d0-4bf5-9c5f-68a1c7b13d88",
      "name": "Tag Job",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        1040
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "1cc53745-c632-49b7-8291-8f5d35e5de23",
      "name": "Wait Parse",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        1040
      ],
      "webhookId": "d4386091-21e8-4182-863c-741f1b655313"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "396787cd-2e66-4b1a-9b45-f200d404e4a5",
      "name": "LlamaParse Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "d0fa2070-7bc7-4652-abe8-e44224df410f",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "06709413-c61f-47e0-a976-a292dfc13d97",
      "name": "If Parse Done",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1560,
        1040
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "42764dc4-040b-4857-828c-e32516c122a7",
      "name": "LlamaParse Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        980
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "5adc2083-fb23-45bf-aae7-540573467967",
              "name": "message_id",
              "value": "={{ $('Tag Job').item.json.message_id }}",
              "type": "string"
            },
            {
              "id": "68950203-2735-4b30-9d55-c17f3e8a987c",
              "name": "attachment_markdown",
              "value": "={{ $json.markdown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9f84f5ed-8d6f-47e2-864f-470b73e29254",
      "name": "Tag Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        980
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Group parsed markdown per email into a single attachments_text string.\nconst byEmail = {};\nfor (const item of $input.all()) {\n  const id = item.json.message_id;\n  const md = item.json.attachment_markdown || '';\n  if (!byEmail[id]) byEmail[id] = [];\n  if (md) byEmail[id].push(md);\n}\nreturn Object.keys(byEmail).map((id) => ({\n  json: { message_id: id, attachments_text: byEmail[id].join('\\n\\n---\\n\\n') },\n}));"
      },
      "id": "5e69e88b-baa8-4087-b123-afa4e0b08fb7",
      "name": "Aggregate Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        980
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByFields",
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "message_id"
            }
          ]
        },
        "joinMode": "enrichInput1",
        "options": {}
      },
      "id": "3c7a3d79-7ceb-42c6-bb72-5f5901a23353",
      "name": "Merge Attachments",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        700,
        880
      ]
    },
    {
      "parameters": {
        "mode": "htmlToMarkdown",
        "html": "={{ $json.html }}",
        "options": {
          "destinationKey": "markdown"
        }
      },
      "id": "8545bc9e-aa5b-4076-b174-96c5869490e1",
      "name": "HTML to Markdown",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        920,
        880
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "51ef34a3-a21f-4f8a-80c7-ea2777fe3bf0",
              "name": "from",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "4888bfb5-c6c0-4aae-a0ab-d73c79464466",
              "name": "from_name",
              "value": "={{ $json.from.value[0].name }}",
              "type": "string"
            },
            {
              "id": "faf3551a-facb-4ab5-9f11-e6492872b0e3",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "f2a4d648-24d1-4692-8347-f81cd6119233",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "8fc03f65-af38-4bf9-99e0-991d5b674fa7",
              "name": "thread_id",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "id": "c949a440-fb5b-42d0-9677-933d2395aa2f",
              "name": "message_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "6fff30f0-5536-4a0b-8c8c-61b501584b53",
              "name": "body",
              "value": "={{ ($json.markdown || $json.text || '').replace(/data:[A-Za-z0-9+/=;:,._-]{40,}/gi, '[image]').slice(0, 24000) }}",
              "type": "string"
            },
            {
              "id": "9074a8d2-497c-4ba9-a469-9855efc7e3e7",
              "name": "attachments_text",
              "value": "={{ ($json.attachments_text || '').replace(/data:[A-Za-z0-9+/=;:,._-]{40,}/gi, '[image]').slice(0, 40000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "aac013d3-d724-4880-8c19-04a45bcae2ac",
      "name": "Set Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        880
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a data-extraction assistant for Nika, a distributor of CDs, vinyl and other\nrecorded music. Record labels send Nika catalog updates — by email or as uploaded\nfiles (Excel/PDF lists). These sources are messy and inconsistent: many formats,\nfrequent acronyms or code-words, and often incomplete. Your job is to read ONE\nsource (an email or one uploaded file) and turn it into clean, structured catalog data.\n\nYou do these things:\n1. Decide whether the source is relevant to the music catalog at all.\n2. Identify which record label it is from, using the sender->label map provided.\n3. Extract every catalog item and its fields, applying the rules provided.\n4. For each item, decide whether it is a NEW catalog line or an UPDATE to an existing\n   open line, using the OPEN CATALOG LINES provided.\n\nThe user message contains a RULES section (sender->label map, glossary, exclusion\nkeywords, mandatory fields, per-label notes), the OPEN CATALOG LINES, and the SOURCE.\nApply the rules exactly as given. They change over time, so never rely on memory of\nprevious rules — only use what is in this message.\n\nGeneral principles:\n- Never invent or guess data. If a field is not present, return null. Do not fabricate\n  barcodes, prices, dates, codes, or titles.\n- Output the EAN/barcode exactly as written, as a STRING, preserving leading zeros.\n  Never turn it into a number. (The shortened catalog CODE is computed automatically\n  downstream — you do NOT need to produce it.)\n- Work ONLY from this source. One source may contain zero, one, or many items (e.g. a\n  release list). Return one entry per item.\n- Be conservative with confidence. When unsure, lower confidence and set\n  needs_review=true with a reason instead of guessing.\n- Decode acronyms/code-words using the glossary. If you hit one that is NOT in the\n  glossary and seems important, flag it — do not guess its meaning.\n\nIdentifying the label — match on the DISPLAY NAME, not only the email address:\n- Several labels send from the SAME shared address (e.g. wm-see-licensees@warnermusic.com);\n  the actual sub-label is determined by the sender DISPLAY NAME / contact (e.g.\n  \"Crystal Murphy\" -> WARNER/RHINO, \"Geneva Gamblin\" -> ATLANTIC / FUELED BY RAMEN).\n- Always match using BOTH the sender display name and the email against the\n  sender->label map; if the display name matches an entry, prefer it.\n- Set supplier_code from the matched entry (Warner is almost always 149).\n- If neither display name nor email matches, set label to null and flag it.\n- Labels are prefixed with the parent group: use \"WARNER\" or \"WARNER/<sub-label>\" (e.g. \"WARNER/ATLANTIC\"), EXCEPT NONESUCH and ROADRUNNER, which are written WITHOUT the Warner prefix.\n- A sender may map to SEVERAL candidate sub-labels (they appear as multiple rows for the same sender, and/or the sender \"notes\" say when each applies). Pick the specific sub-label from hints in THIS email (artist, musical style, imprint mentioned, catalogue prefix). If the hints are not conclusive, set label to null and flag for review — do NOT guess.\n- A generic Warner address whose specific sub-label cannot be known (e.g. music@warner.com or any warner.com sender) must NOT be auto-mapped: set label to null and flag for review.\n\nArtist & title formatting:\n- Individual artist: SURNAME FIRSTNAME in capitals, no comma (e.g. \"Joni Mitchell\" ->\n  \"MITCHELL JONI\").\n- Band/group: full name in capitals, dropping a leading \"THE\" (e.g. \"The Doors\" ->\n  \"DOORS\").\n- Multiple artists on one item: join with a FORWARD SLASH \"/\" (e.g. \"BYRNE DAVID/FATBOY SLIM\").\n- TITLE: always output the title in ALL CAPS, and drop a leading \"THE\" the same way as band names (e.g. \"The Wall\" -> \"WALL\"). Only the first leading \"THE\" is removed; keep any \"the\" that appears later in the title.\n- Always keep the original, unmodified text in artist_raw.\n- Soundtracks/compilations with no single artist: use the glossary marker (e.g. OST).\n\nClassical music (special naming — there is NO separate composer field):\n- Put the PERFORMER(s) in artist (e.g. \"QUEFFELEC ANNE\"; multiple performers joined with \"/\").\n- Put the COMPOSER as a SURNAME only at the FRONT of title, followed by the work, e.g.\n  artist=\"QUEFFELEC ANNE\", title=\"SATIE: 3 GYMNOPEDIES, 8 GNOSSIENNES & OTHER PIANO WORKS\".\n\nSales / territory restrictions — set excluded=true (with exclusion_reason) but still\nextract the item:\n- Marked \"D2C\" / direct-to-consumer.\n- \"US/CANADA ONLY\" or any non-European territory restriction.\n- Amazon-exclusive vinyl (there is no Amazon Slovenija).\n- Artist-web-store-only releases.\n- Non-European releases (cannot be added to the catalog).\nAlso apply any exclusion keywords listed in the RULES.\n\nGenre:\n- Populate genre from your OWN general knowledge of the artist/release (e.g. \"Rock\",\n  \"Jazz\", \"Classical\", \"Electronic\", \"Pop\"). You CANNOT browse the web. If you are not\n  reasonably confident, set genre to null — never guess wildly. Genre is optional and\n  is hidden from the catalog export.\n\nUnit:\n- unit = number of physical discs/records in the package (e.g. 2 for \"2LP\" or \"2CD\"),\n  default 1 for a single disc.\n\nPrices & currency (amounts are NUMBERS; a decimal comma like \"5,92\" means 5.92; NEVER convert between currencies):\n- Fill the EUR price fields below ONLY from prices given in EUR (€). If the email has NO euro prices at all, leave cop/ppd_eur/rock_bottom null and instead put the original amount in \"price\" and its ISO currency in \"currency\" (e.g. price 29.00, currency \"GBP\") — we do NOT convert; the client fills EUR manually.\n- cop: the \"COP\" price, in EUR.\n- ppd_eur: the \"Guide PPD EUR\" price, in EUR.\n- rock_bottom: the \"Rock Bottom\" price, in EUR.\n- Ignore \"ERP\" entirely.\n- When any euro price is present, leave \"price\" and \"currency\" null. Any missing category -> null.\n\nCode-names / high-profile artists:\n- Some labels use code-names before release (e.g. \"Skylar\" standing in for a major\n  artist), resolved only by contacting the label — often via a private project-site link\n  imported separately. NEVER resolve or guess a code-name. Keep the code-name in\n  artist_raw, set what you safely can, lower confidence, set needs_review=true and\n  explain in review_reasons.\n\nRelevance:\n- This mailbox also receives non-catalog mail: customer orders, purchase orders,\n  confirmations, admin mail (often titled \"Naročilo\"/\"Order\"). Classify these as\n  is_catalog_relevant=false with the reason and an empty items array. A catalog update\n  announces/lists releases to ADD or UPDATE; an order is a transaction over existing\n  products.\n\nMatching against existing OPEN CATALOG LINES (incremental updates):\n- Catalog data often arrives piece by piece across several sources. The OPEN CATALOG\n  LINES (status \"in_progress\") are incomplete entries awaiting more info — the ONLY\n  update candidates.\n- For each item, decide whether it is the SAME physical product as an open line. Match\n  primarily on EAN/barcode, then catalogue number, then artist+title+format.\n- Thread hint: you are given the source's thread_id and each open line's thread_id. A matching thread_id is ONLY a hint that a follow-up MAY belong to that line — use it to prioritise which open lines to check first. NEVER merge on thread_id alone: still confirm identity via EAN/barcode, then catalogue number, then artist + title + format. A single thread can carry several different products, so if the identifiers disagree, do NOT merge — treat it as a different item.\n- If it matches: action=\"update\", match_line_id=that line's id, and return the MERGED\n  record (existing values overlaid with new/more-complete values; never erase an\n  existing value unless this source explicitly corrects it).\n- If no match: action=\"create\", match_line_id=null.\n- If unsure: action=\"create\", lower confidence, needs_review=true. Never invent a\n  match_line_id.\n\nRespond with a SINGLE valid JSON object and NOTHING else — no prose, no markdown, no\ncode fences. Use exactly this shape:\n{\n  \"is_catalog_relevant\": boolean,\n  \"relevance_reason\": string,\n  \"label\": string | null,\n  \"sender_recognized\": boolean,\n  \"overall_confidence\": number,\n  \"needs_review\": boolean,\n  \"review_reasons\": string[],\n  \"items\": [\n    {\n      \"action\": \"create\" | \"update\",\n      \"match_line_id\": string | null,\n      \"match_confidence\": number,\n      \"artist_raw\": string | null,\n      \"artist\": string | null,\n      \"title\": string | null,\n      \"format\": string | null,\n      \"genre\": string | null,\n      \"unit\": number | null,\n      \"ean\": string | null,\n      \"catalogue_no\": string | null,\n      \"release_date\": string | null,\n      \"price\": number | null,\n      \"currency\": string | null,\n      \"cop\": number | null,\n      \"ppd_eur\": number | null,\n      \"rock_bottom\": number | null,\n      \"calculation_group\": string | null,\n      \"supplier_code\": string | null,\n      \"excluded\": boolean,\n      \"exclusion_reason\": string | null,\n      \"missing_mandatory\": string[],\n      \"item_confidence\": number,\n      \"item_notes\": string | null\n    }\n  ]\n}\nIf the source is not catalog-relevant, set is_catalog_relevant=false, give the reason,\nand return an empty items array."
            },
            {
              "role": "user",
              "content": "RULES (apply exactly; current rules, may change):\n\nSender -> label map (match on display name AND email):\n{{ JSON.stringify($('Senders').all().map(i => i.json)) }}\n\nGlossary:\n{{ JSON.stringify($('Glossary').all().map(i => i.json)) }}\n\nExclusion keywords:\n{{ JSON.stringify($('Exclusions').all().map(i => i.json)) }}\n\nMandatory fields:\n{{ JSON.stringify($('MandatoryFields').all().map(i => i.json)) }}\n\nPer-label notes:\n{{ JSON.stringify($('LabelNotes').all().map(i => i.json)) }}\n\nOPEN CATALOG LINES (status=\"in_progress\"; the ONLY candidates to UPDATE — may be incomplete):\n{{ JSON.stringify($('Open Catalog Lines').all().map(i => ({ ...i.json, extra: undefined }))) }}\n\nSOURCE TO PROCESS (email):\nFrom: {{ $json.from_name }} <{{ $json.from }}>\nSubject: {{ $json.subject }}\nDate: {{ $json.date }}\nThread ID: {{ $json.thread_id }}\nBody:\n{{ $json.body }}\n\nAttachments (extracted text, if any):\n{{ $json.attachments_text }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.1
        }
      },
      "id": "a174175f-90d9-40ef-93fb-3d284615d996",
      "name": "AI Intelligence",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1360,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "3e280ad4-6dd8-43bc-84aa-477af540c5ee",
              "leftValue": "={{ $json.message.content.is_catalog_relevant }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f85d3442-91df-439e-befb-d4ceddb65d16",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1580,
        880
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Explode each relevant AI result into one row per catalog item, mapped to the REAL\n// catalog_lines columns. Derives the shortened CODE from the EAN. Extras -> extra (jsonb).\nfunction toCatalogCode(ean) {\n  if (ean === null || ean === undefined) return null;\n  const s = String(ean).replace(/\\D/g, '');\n  if (!s) return null;\n  const trimmed = s.slice(0, -1).replace(/^0+/, '');\n  return trimmed || null;\n}\n\nconst rows = [];\nconst inputs = $input.all();\nfor (let i = 0; i < inputs.length; i++) {\n  let result = inputs[i].json;\n  result = result.message?.content ?? result.content ?? result;\n  if (typeof result === 'string') { try { result = JSON.parse(result); } catch (e) { continue; } }\n  if (!result || result.is_catalog_relevant === false) continue;\n\n  let src = {};\n  try { src = $('Set Fields').itemMatching(i).json; } catch (e) {}\n\n  for (const item of (result.items ?? [])) {\n    rows.push({ json: {\n      action: item.action === 'update' ? 'update' : 'create',   // routing only (ignored on write)\n      match_line_id: item.match_line_id ?? null,                // routing only (ignored on write)\n\n      status: item.excluded ? 'excluded' : 'in_progress',\n      label: result.label ?? null,\n      thread_id: src.thread_id ?? null,\n      artist: item.artist ?? null,\n      title: item.title ?? null,\n      format: item.format ?? null,\n      genre: item.genre ?? null,\n      unit: item.unit ?? null,\n      ean: item.ean ?? null,\n      code: toCatalogCode(item.ean),\n      catalogue_no: item.catalogue_no ?? null,\n      release_date: item.release_date ?? null,\n      price_original: item.price ?? null,\n      currency: item.currency ?? null,\n      cop: item.cop ?? null,\n      ppd: (function(a,b){a=a!=null?String(a).replace('.',','):null;b=b!=null?String(b).replace('.',','):null;return a&&b?a+'/'+b:(a||b||null);})(item.ppd_eur, item.rock_bottom),\n      rock_bottom: item.rock_bottom ?? null,\n      our_price: null,\n      calculation_group: item.calculation_group ?? null,\n      supplier_code: item.supplier_code ?? null,\n      missing_fields: item.missing_mandatory ?? [],\n      confidence: item.item_confidence ?? result.overall_confidence ?? null,\n      notes: item.item_notes ?? null,\n      extra: {\n        artist_raw: item.artist_raw ?? null,\n        exclusion_reason: item.exclusion_reason ?? null,\n        match_confidence: item.match_confidence ?? null,\n        needs_review: result.needs_review ?? null,\n        source_message_id: src.message_id ?? null,\n      },\n    } });\n  }\n}\nreturn rows;"
      },
      "id": "a220d097-f2f7-4f27-921f-ed19bcfda1d0",
      "name": "Build Catalog Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "137c46cb-c5a8-4f0b-83e3-554dadb44252",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4fa9916c-3e15-4de6-aa45-a7aa01ff13df",
      "name": "Route Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2020,
        760
      ]
    },
    {
      "parameters": {
        "tableId": "catalog_lines",
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "action,match_line_id"
      },
      "id": "84fbdc22-4044-410a-a07a-1043d193ff09",
      "name": "Insert Catalog Line",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2260,
        660
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kkiHzEYLOtK6ZLEy",
          "name": "Nika"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "catalog_lines",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.match_line_id }}"
            }
          ]
        },
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "action,match_line_id"
      },
      "id": "488daa0e-e743-4331-817c-d035eaeb41a5",
      "name": "Update Catalog Line",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2260,
        860
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kkiHzEYLOtK6ZLEy",
          "name": "Nika"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// One raw_entries row per processed source (audit + dedupe link),\n// mapped to the REAL raw_entries columns. Full payload kept in `extracted` (jsonb).\nconst out = [];\nconst inputs = $input.all();\nfor (let i = 0; i < inputs.length; i++) {\n  let result = inputs[i].json;\n  result = result.message?.content ?? result.content ?? result;\n  if (typeof result === 'string') { try { result = JSON.parse(result); } catch (e) {} }\n\n  let src = {};\n  try { src = $('Set Fields').itemMatching(i).json; } catch (e) {}\n\n  out.push({ json: {\n    received_at: src.date ?? null,\n    sender: src.from ?? null,\n    label: result?.label ?? null,\n    subject: src.subject ?? null,\n    source_email_id: src.message_id ?? null,\n    ean: result?.items?.[0]?.ean ?? null,\n    confidence: result?.overall_confidence ?? null,\n    status: 'new',\n    extracted: {\n      result: result ?? null,\n      source_body: src.body ?? null,\n      source_attachments: src.attachments_text ?? null,\n    },\n  } });\n}\nreturn out;"
      },
      "id": "5e82ee82-72c9-4003-b7f9-22eb3d8f8d4f",
      "name": "Build Raw Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        1020
      ]
    },
    {
      "parameters": {
        "tableId": "raw_entries",
        "dataToSend": "autoMapInputData"
      },
      "id": "da3ef013-72ab-41e0-8791-8fe27b2b4780",
      "name": "Insert Raw Entry",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2020,
        1020
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kkiHzEYLOtK6ZLEy",
          "name": "Nika"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Senders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Glossary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Exclusions",
            "type": "main",
            "index": 0
          },
          {
            "node": "MandatoryFields",
            "type": "main",
            "index": 0
          },
          {
            "node": "LabelNotes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Open Catalog Lines",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails": {
      "main": [
        [
          {
            "node": "Split Attachments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Attachments": {
      "main": [
        [
          {
            "node": "LlamaParse Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LlamaParse Upload": {
      "main": [
        [
          {
            "node": "Tag Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Job": {
      "main": [
        [
          {
            "node": "Wait Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Parse": {
      "main": [
        [
          {
            "node": "LlamaParse Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LlamaParse Job Status": {
      "main": [
        [
          {
            "node": "If Parse Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Parse Done": {
      "main": [
        [
          {
            "node": "LlamaParse Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LlamaParse Result": {
      "main": [
        [
          {
            "node": "Tag Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Result": {
      "main": [
        [
          {
            "node": "Aggregate Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Attachments": {
      "main": [
        [
          {
            "node": "Merge Attachments",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Attachments": {
      "main": [
        [
          {
            "node": "HTML to Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to Markdown": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "AI Intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Intelligence": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Build Catalog Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Raw Entry",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Catalog Rows": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Insert Catalog Line",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Catalog Line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Raw Entry": {
      "main": [
        [
          {
            "node": "Insert Raw Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
