n8n/hermes-send.json
{
  "name": "Hermes Send (Catalogue)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nika-hermes-send",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "wh-hermes-send",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "a7f1c0de-6b2e-4c11-9c8a-hermes-send01"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HERMES_BASE_URL }}/api/authenticate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"username\": \"{{ $env.HERMES_USERNAME }}\",\n  \"password\": \"{{ $env.HERMES_PASSWORD }}\"\n}",
        "options": {}
      },
      "id": "http-hermes-auth",
      "name": "Hermes Authenticate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 400],
      "notes": "POST /api/authenticate {username,password} -> { access_token }. Creds from n8n ENV (HERMES_BASE_URL / HERMES_USERNAME / HERMES_PASSWORD)."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Map each selected catalog_line (sent by the app in the webhook body) to the\n// Hermes item shape. Hermes inserts by EAN: a NEW ean is created, an EXISTING\n// ean is ignored (no update, no duplicate) — so we just send everything selected.\n// Field mapping is the confirmed one.\nconst lines = $('Webhook').first().json.body?.lines ?? [];\nreturn lines.map(l => ({ json: {\n  _line_id: l.id,\n  _ean: l.ean ?? null,\n  item: {\n    title: l.title ?? null,\n    author: l.artist ?? null,\n    releaseDate: l.release_date ?? null,\n    format: l.format ?? null,\n    ean: l.ean ?? null,\n    calculationGroup: l.calculation_group ?? null,\n    supplierCode: l.supplier_code ?? null,\n  },\n} }));"
      },
      "id": "code-prepare-items",
      "name": "Prepare Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Collect all lines into a single { items:[...] } batch for one POST, keeping a\n// parallel meta list so we can mark the right lines as sent afterwards.\nconst all = $input.all();\nreturn [{ json: {\n  items: all.map(i => i.json.item),\n  meta: all.map(i => ({ line_id: i.json._line_id, ean: i.json._ean })),\n} }];"
      },
      "id": "code-aggregate",
      "name": "Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HERMES_BASE_URL }}/api/productsCatalogue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Hermes Authenticate').first().json.access_token }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ items: $json.items }) }}",
        "options": {}
      },
      "id": "http-hermes-post",
      "name": "Hermes POST Catalogue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 400],
      "notes": "POST /api/productsCatalogue { items:[...] }. 200 ok / 401 bad token / 422 processing error {msg,error}. Inserts new EANs; existing EANs are ignored by Hermes."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// One row per submitted line so we can mark it sent in Supabase. We DON'T rely\n// on Hermes returning an id (it dedups by EAN and doesn't update); our own\n// sent_at/status is the record that this EAN was pushed.\n// TODO (live call): if the POST response returns a per-item otherId/item_code,\n// capture it here into hermes_id. Response shape unconfirmed until the first real send.\nconst meta = $('Aggregate').first().json.meta;\nreturn meta.map(m => ({ json: { id: m.line_id } }));"
      },
      "id": "code-map-sent",
      "name": "Map Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "catalog_lines",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $json.id }}" }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "sent" },
            { "fieldId": "sent_at", "fieldValue": "={{ $now.toISO() }}" }
          ]
        }
      },
      "id": "sb-mark-sent",
      "name": "Mark Sent",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1320, 400],
      "credentials": { "supabaseApi": { "id": "kkiHzEYLOtK6ZLEy", "name": "Nika" } }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Hermes Authenticate", "type": "main", "index": 0 }]] },
    "Hermes Authenticate": { "main": [[{ "node": "Prepare Items", "type": "main", "index": 0 }]] },
    "Prepare Items": { "main": [[{ "node": "Aggregate", "type": "main", "index": 0 }]] },
    "Aggregate": { "main": [[{ "node": "Hermes POST Catalogue", "type": "main", "index": 0 }]] },
    "Hermes POST Catalogue": { "main": [[{ "node": "Map Sent", "type": "main", "index": 0 }]] },
    "Map Sent": { "main": [[{ "node": "Mark Sent", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
