n8n/manual-import.v2.json
{
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "nika-import", "options": {} },
      "id": "fa725803-1fb3-418f-8d37-791f1ee5da07",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [384, -80],
      "webhookId": "0fcff10d-8612-4628-b95a-a7a8ca7ff767"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "manual_imports",
        "matchType": "allFilters",
        "filters": { "conditions": [ { "keyName": "id", "condition": "eq", "keyValue": "={{ $('Webhook').item.json.body.import_id }}" } ] },
        "fieldsUi": { "fieldValues": [ { "fieldId": "status", "fieldValue": "processing" } ] }
      },
      "id": "e6789293-bb6c-4fb8-bf80-2eba63635bfb",
      "name": "Mark Processing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [608, -752],
      "credentials": { "supabaseApi": { "id": "kkiHzEYLOtK6ZLEy", "name": "Nika" } }
    },
    {
      "parameters": { "operation": "getAll", "tableId": "senders", "returnAll": true },
      "id": "91ffb396-ac90-4beb-96ee-67520d4731c5",
      "name": "Senders",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [608, -560],
      "credentials": { "supabaseApi": { "id": "kkiHzEYLOtK6ZLEy", "name": "Nika" } }
    },
    {
      "parameters": { "operation": "getAll", "tableId": "glossary", "returnAll": true },
      "id": "2c131c29-6553-405d-b042-6faee52dee65",
      "name": "Glossary",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [608, -368],
      "credentials": { "supabaseApi": { "id": "kkiHzEYLOtK6ZLEy", "name": "Nika" } }
    },
    {
      "parameters": { "operation": "getAll", "tableId": "exclusions", "returnAll": true },
      "id": "4dcd9ba5-9d22-41d7-8619-255bfca64820",
      "name": "Exclusions",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [608, -176],
      "credentials": { "supabaseApi": { "id": "kkiHzEYLOtK6ZLEy", "name": "Nika" } }
    },
    {
      "parameters": { "operation": "getAll", "tableId": "mandatory_fields", "returnAll": true },
      "id": "8077c5e8-364b-4291-ab50-5c478e2bf00d",
      "name": "MandatoryFields",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [608, 16],
      "credentials": { "supabaseApi": { "id": "kkiHzEYLOtK6ZLEy", "name": "Nika" } }
    },
    {
      "parameters": { "operation": "getAll", "tableId": "label_notes", "returnAll": true },
      "id": "ae42abd0-6c20-4e2e-bbf4-24a4d15923b8",
      "name": "LabelNotes",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [608, 208],
      "credentials": { "supabaseApi": { "id": "kkiHzEYLOtK6ZLEy", "name": "Nika" } }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "catalog_lines",
        "returnAll": true,
        "filters": { "conditions": [ { "keyName": "status", "condition": "eq", "keyValue": "in_progress" } ] }
      },
      "id": "6b891d2a-c21b-42a7-abe3-d0aadef05073",
      "name": "Open Catalog Lines",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [608, 400],
      "credentials": { "supabaseApi": { "id": "kkiHzEYLOtK6ZLEy", "name": "Nika" } }
    },
    {
      "parameters": {
        "url": "={{ $json.body.file_url }}",
        "options": { "response": { "response": { "responseFormat": "file" } } }
      },
      "id": "de318aa6-1969-4153-bc73-590effb8bb41",
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [608, 592]
    },
    {
      "parameters": { "amount": 1, "unit": "minutes" },
      "id": "cedf4998-b160-44ea-81c6-5e1845c8fb14",
      "name": "Wait Parse",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1056, 592],
      "webhookId": "edf34235-046b-4312-bd75-07fd8dc4c983"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "id": "349acb71-a267-47ca-b354-b3ca0fb9f8e2", "leftValue": "={{ $json.status }}", "rightValue": "SUCCESS", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "89570c07-6b09-48ed-96a1-43ebe382b02e",
      "name": "If Parse Done",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1504, 592]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "0cb379bd-e9ac-4864-ae73-9e98a28b0855", "name": "from", "value": "={{ $('Webhook').item.json.body.sender_email }}", "type": "string" },
            { "id": "d0214d12-0498-4941-9184-e991c904cf2e", "name": "from_name", "value": "={{ $('Webhook').item.json.body.sender_email }}", "type": "string" },
            { "id": "30dfac05-1bdb-4da7-b32f-162d938f1eb7", "name": "subject", "value": "={{ $('Webhook').item.json.body.file_name }}", "type": "string" },
            { "id": "6318d02b-abce-46d2-977c-753e604f9459", "name": "date", "value": "={{ $now.toISO() }}", "type": "string" },
            { "id": "a1248fbc-f4c7-4b4f-a360-b2f93acdb8dd", "name": "thread_id", "value": "={{ $('Webhook').item.json.body.import_id }}", "type": "string" },
            { "id": "b06b8629-ed57-4776-903c-221e72e698c1", "name": "message_id", "value": "={{ $('Webhook').item.json.body.import_id }}", "type": "string" },
            { "id": "c2fb7042-5ca5-4d7a-86fa-bef61a2dca21", "name": "body", "value": "={{ ($('Webhook').item.json.body.context || '').slice(0, 8000) }}", "type": "string" },
            { "id": "2524cab3-a76c-4ab2-ad44-bcc09a13a75c", "name": "attachments_text", "value": "={{ ($json.markdown || '').slice(0, 40000) }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "1e383719-c7f8-45f2-9460-7164d2f70f6b",
      "name": "Set Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1952, 592]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "gpt-4o", "mode": "list", "cachedResultName": "gpt-4o" },
        "messages": {
          "values": [
            {
              "content": "=You are a data-extraction assistant for Nika, a distributor of CDs, vinyl and other\nrecorded music. Record labels send Nika catalog updates — by email or as uploaded\nfiles (Excel/PDF lists). These sources are messy and inconsistent: many formats,\nfrequent acronyms or code-words, and often incomplete. Your job is to read ONE\nsource (an email or one uploaded file) and turn it into clean, structured catalog data.\n\nYou do these things:\n1. Decide whether the source is relevant to the music catalog at all.\n2. Identify which record label it is from, using the sender->label map provided.\n3. Extract every catalog item and its fields, applying the rules provided.\n4. For each item, decide whether it is a NEW catalog line or an UPDATE to an existing\n   open line, using the OPEN CATALOG LINES provided.\n\nThe user message contains a RULES section (sender->label map, glossary, exclusion\nkeywords, mandatory fields, per-label notes), the OPEN CATALOG LINES, and the SOURCE.\nApply the rules exactly as given. They change over time, so never rely on memory of\nprevious rules — only use what is in this message.\n\nGeneral principles:\n- Never invent or guess data. If a field is not present, return null. Do not fabricate\n  barcodes, prices, dates, codes, or titles.\n- Output the EAN/barcode exactly as written, as a STRING, preserving leading zeros.\n  Never turn it into a number. (The shortened catalog CODE is computed automatically\n  downstream — you do NOT need to produce it.)\n- Work ONLY from this source. One source may contain zero, one, or many items (e.g. a\n  release list). Return one entry per item.\n- Be conservative with confidence. When unsure, lower confidence and set\n  needs_review=true with a reason instead of guessing.\n- Decode acronyms/code-words using the glossary. If you hit one that is NOT in the\n  glossary and seems important, flag it — do not guess its meaning.\n\nIdentifying the label — match on the DISPLAY NAME, not only the email address:\n- Several labels send from the SAME shared address (e.g. wm-see-licensees@warnermusic.com);\n  the actual sub-label is determined by the sender DISPLAY NAME / contact (e.g.\n  \"Crystal Murphy\" -> WARNER/RHINO, \"Geneva Gamblin\" -> ATLANTIC / FUELED BY RAMEN).\n- Always match using BOTH the sender display name and the email against the\n  sender->label map; if the display name matches an entry, prefer it.\n- Set supplier_code from the matched entry (Warner is almost always 149).\n- If neither display name nor email matches, set label to null and flag it.\n- Labels are prefixed with the parent group: use \"WARNER\" or \"WARNER/<sub-label>\" (e.g. \"WARNER/ATLANTIC\"), EXCEPT NONESUCH and ROADRUNNER, which are written WITHOUT the Warner prefix.\n- A sender may map to SEVERAL candidate sub-labels (they appear as multiple rows for the same sender, and/or the sender \"notes\" say when each applies). Pick the specific sub-label from hints in THIS email (artist, musical style, imprint mentioned, catalogue prefix). If the hints are not conclusive, set label to null and flag for review — do NOT guess.\n- A generic Warner address whose specific sub-label cannot be known (e.g. music@warner.com or any warner.com sender) must NOT be auto-mapped: set label to null and flag for review.\n\nArtist & title formatting:\n- Individual artist: SURNAME FIRSTNAME in capitals, no comma (e.g. \"Joni Mitchell\" ->\n  \"MITCHELL JONI\").\n- Band/group: full name in capitals, dropping a leading \"THE\" (e.g. \"The Doors\" ->\n  \"DOORS\").\n- Multiple artists on one item: join with a FORWARD SLASH \"/\" (e.g. \"BYRNE DAVID/FATBOY SLIM\").\n- TITLE: always output the title in ALL CAPS, and drop a leading \"THE\" the same way as band names (e.g. \"The Wall\" -> \"WALL\"). Only the first leading \"THE\" is removed; keep any \"the\" that appears later in the title.\n- Always keep the original, unmodified text in artist_raw.\n- Soundtracks/compilations with no single artist: use the glossary marker (e.g. OST).\n\nClassical music (special naming — there is NO separate composer field):\n- Put the PERFORMER(s) in artist (e.g. \"QUEFFELEC ANNE\"; multiple performers joined with \"/\").\n- Put the COMPOSER as a SURNAME only at the FRONT of title, followed by the work, e.g.\n  artist=\"QUEFFELEC ANNE\", title=\"SATIE: 3 GYMNOPEDIES, 8 GNOSSIENNES & OTHER PIANO WORKS\".\n\nSales / territory restrictions — set excluded=true (with exclusion_reason) but still\nextract the item:\n- Marked \"D2C\" / direct-to-consumer.\n- \"US/CANADA ONLY\" or any non-European territory restriction.\n- Amazon-exclusive vinyl (there is no Amazon Slovenija).\n- Artist-web-store-only releases.\n- Non-European releases (cannot be added to the catalog).\nAlso apply any exclusion keywords listed in the RULES.\n\nGenre:\n- Populate genre from your OWN general knowledge of the artist/release (e.g. \"Rock\",\n  \"Jazz\", \"Classical\", \"Electronic\", \"Pop\"). You CANNOT browse the web. If you are not\n  reasonably confident, set genre to null — never guess wildly. Genre is optional.\n\nUnit:\n- unit = number of physical discs/records in the package (e.g. 2 for \"2LP\" or \"2CD\"),\n  default 1 for a single disc.\n\nPrices & currency (amounts are NUMBERS; a decimal comma like \"5,92\" means 5.92; NEVER convert between currencies):\n- Fill the EUR price fields below ONLY from prices given in EUR (€). If the email has NO euro prices at all, leave cop/ppd_eur/rock_bottom null and instead put the original amount in \"price\" and its ISO currency in \"currency\" (e.g. price 29.00, currency \"GBP\") — we do NOT convert; the client fills EUR manually.\n- cop: the \"COP\" price, in EUR.\n- ppd_eur: the \"Guide PPD EUR\" price, in EUR.\n- rock_bottom: the \"Rock Bottom\" price, in EUR.\n- Ignore \"ERP\" entirely.\n- When any euro price is present, leave \"price\" and \"currency\" null. Any missing category -> null.\n\nCode-names / high-profile artists:\n- Some labels use code-names before release (e.g. \"Skylar\" standing in for a major\n  artist), resolved only by contacting the label — often via a private project-site link\n  imported separately. NEVER resolve or guess a code-name. Keep the code-name in\n  artist_raw, set what you safely can, lower confidence, set needs_review=true and\n  explain in review_reasons.\n\nRelevance:\n- This mailbox also receives non-catalog mail: customer orders, purchase orders,\n  confirmations, admin mail (often titled \"Naročilo\"/\"Order\"). Classify these as\n  is_catalog_relevant=false with the reason and an empty items array. A catalog update\n  announces/lists releases to ADD or UPDATE; an order is a transaction over existing\n  products.\n\nMatching against existing OPEN CATALOG LINES (incremental updates):\n- Catalog data often arrives piece by piece across several sources. The OPEN CATALOG\n  LINES (status \"in_progress\") are incomplete entries awaiting more info — the ONLY\n  update candidates.\n- For each item, decide whether it is the SAME physical product as an open line. Match\n  primarily on EAN/barcode, then catalogue number, then artist+title+format.\n- Thread hint: you are given the source's thread_id and each open line's thread_id. A matching thread_id is ONLY a hint that a follow-up MAY belong to that line — use it to prioritise which open lines to check first. NEVER merge on thread_id alone: still confirm identity via EAN/barcode, then catalogue number, then artist + title + format. A single thread can carry several different products, so if the identifiers disagree, do NOT merge — treat it as a different item.\n- If it matches: action=\"update\", match_line_id=that line's id, and return the MERGED\n  record (existing values overlaid with new/more-complete values; never erase an\n  existing value unless this source explicitly corrects it).\n- If no match: action=\"create\", match_line_id=null.\n- If unsure: action=\"create\", lower confidence, needs_review=true. Never invent a\n  match_line_id.\n\nRespond with a SINGLE valid JSON object and NOTHING else — no prose, no markdown, no\ncode fences. Use exactly this shape:\n{\n  \"is_catalog_relevant\": boolean,\n  \"relevance_reason\": string,\n  \"label\": string | null,\n  \"sender_recognized\": boolean,\n  \"overall_confidence\": number,\n  \"needs_review\": boolean,\n  \"review_reasons\": string[],\n  \"items\": [\n    {\n      \"action\": \"create\" | \"update\",\n      \"match_line_id\": string | null,\n      \"match_confidence\": number,\n      \"artist_raw\": string | null,\n      \"artist\": string | null,\n      \"title\": string | null,\n      \"format\": string | null,\n      \"genre\": string | null,\n      \"unit\": number | null,\n      \"ean\": string | null,\n      \"catalogue_no\": string | null,\n      \"release_date\": string | null,\n      \"price\": number | null,\n      \"currency\": string | null,\n      \"cop\": number | null,\n      \"ppd_eur\": number | null,\n      \"rock_bottom\": number | null,\n      \"calculation_group\": string | null,\n      \"supplier_code\": string | null,\n      \"excluded\": boolean,\n      \"exclusion_reason\": string | null,\n      \"missing_mandatory\": string[],\n      \"item_confidence\": number,\n      \"item_notes\": string | null\n    }\n  ]\n}\nIf the source is not catalog-relevant, set is_catalog_relevant=false, give the reason,\nand return an empty items array.",
              "role": "system"
            },
            {
              "content": "=RULES (apply exactly; current rules, may change):\n\nSender -> label map (match on display name AND email):\n{{ JSON.stringify($('Senders').all().map(i => i.json)) }}\n\nGlossary:\n{{ JSON.stringify($('Glossary').all().map(i => i.json)) }}\n\nExclusion keywords:\n{{ JSON.stringify($('Exclusions').all().map(i => i.json)) }}\n\nMandatory fields:\n{{ JSON.stringify($('MandatoryFields').all().map(i => i.json)) }}\n\nPer-label notes:\n{{ JSON.stringify($('LabelNotes').all().map(i => i.json)) }}\n\nOPEN CATALOG LINES (status=\"in_progress\"; the ONLY candidates to UPDATE — may be incomplete):\n{{ JSON.stringify($('Open Catalog Lines').all().map(i => ({ ...i.json, extra: undefined }))) }}\n\nSOURCE TO PROCESS (uploaded file):\nSender (provided by uploader): {{ $json.from }}\nFile: {{ $json.subject }}\nDate: {{ $json.date }}\nThread ID: {{ $json.thread_id }}\nUploader context/notes:\n{{ $json.body }}\n\nFile contents (extracted text):\n{{ $json.attachments_text }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": { "temperature": 0.4 }
      },
      "id": "2ae765a7-d675-4b02-ae5f-053dc4207e84",
      "name": "AI Intelligence",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [2176, 592],
      "credentials": { "openAiApi": { "id": "5Oj2KY3OrwZptsQW", "name": "Nika OpenAI" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "id": "a97c1f79-4cf8-4157-83fd-4649598948d5", "leftValue": "={{ $json.message.content.is_catalog_relevant }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7fa8868b-57ba-41c5-83fc-9be432af109a",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2528, 496]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "manual_imports",
        "matchType": "allFilters",
        "filters": { "conditions": [ { "keyName": "id", "condition": "eq", "keyValue": "={{ $('Webhook').item.json.body.import_id }}" } ] },
        "fieldsUi": { "fieldValues": [ { "fieldId": "status", "fieldValue": "done" } ] }
      },
      "id": "7231a258-6c8a-4d9d-8076-5789c2f35436",
      "name": "Mark Done",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2528, 688],
      "credentials": { "supabaseApi": { "id": "kkiHzEYLOtK6ZLEy", "name": "Nika" } }
    },
    {
      "parameters": {
        "jsCode": "// Explode each relevant AI result into one row per catalog item, mapped to the REAL\n// catalog_lines columns. Derives the shortened CODE from the EAN. Extras -> extra (jsonb).\nfunction toCatalogCode(ean) {\n  if (ean === null || ean === undefined) return null;\n  const s = String(ean).replace(/\\D/g, '');\n  if (!s) return null;\n  const trimmed = s.slice(0, -1).replace(/^0+/, '');\n  return trimmed || null;\n}\n\nconst rows = [];\nconst inputs = $input.all();\nfor (let i = 0; i < inputs.length; i++) {\n  let result = inputs[i].json;\n  result = result.message?.content ?? result.content ?? result;\n  if (typeof result === 'string') { try { result = JSON.parse(result); } catch (e) { continue; } }\n  if (!result || result.is_catalog_relevant === false) continue;\n\n  let src = {};\n  try { src = $('Set Fields').itemMatching(i).json; } catch (e) {}\n\n  for (const item of (result.items ?? [])) {\n    rows.push({ json: {\n      action: item.action === 'update' ? 'update' : 'create',   // routing only (ignored on write)\n      match_line_id: item.match_line_id ?? null,                // routing only (ignored on write)\n\n      status: item.excluded ? 'excluded' : 'in_progress',\n      label: result.label ?? null,\n      thread_id: src.thread_id ?? null,\n      artist: item.artist ?? null,\n      title: item.title ?? null,\n      format: item.format ?? null,\n      genre: item.genre ?? null,\n      unit: item.unit ?? null,\n      ean: item.ean ?? null,\n      code: toCatalogCode(item.ean),\n      catalogue_no: item.catalogue_no ?? null,\n      release_date: item.release_date ?? null,\n      price_original: item.price ?? null,\n      currency: item.currency ?? null,\n      cop: item.cop ?? null,\n      ppd: (function(a,b){a=a!=null?String(a).replace('.',','):null;b=b!=null?String(b).replace('.',','):null;return a&&b?a+'/'+b:(a||b||null);})(item.ppd_eur, item.rock_bottom),\n      rock_bottom: item.rock_bottom ?? null,\n      our_price: null,\n      calculation_group: item.calculation_group ?? null,\n      supplier_code: item.supplier_code ?? null,\n      missing_fields: item.missing_mandatory ?? [],\n      confidence: item.item_confidence ?? result.overall_confidence ?? null,\n      notes: item.item_notes ?? null,\n      extra: {\n        artist_raw: item.artist_raw ?? null,\n        exclusion_reason: item.exclusion_reason ?? null,\n        match_confidence: item.match_confidence ?? null,\n        needs_review: result.needs_review ?? null,\n        source_message_id: src.message_id ?? null,\n      },\n    } });\n  }\n}\nreturn rows;"
      },
      "id": "9c8417d0-06d2-4077-b9e7-178ccf2516dd",
      "name": "Build Catalog Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2752, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "id": "cbaf08ba-6a91-4509-8da3-52e2dd51809c", "leftValue": "={{ $json.action }}", "rightValue": "create", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77d5e78a-473f-4223-81ab-b2f4e85ba4a4",
      "name": "Route Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2976, 400]
    },
    {
      "parameters": { "tableId": "catalog_lines", "dataToSend": "autoMapInputData", "inputsToIgnore": "action,match_line_id" },
      "id": "1618a5c3-7944-4a93-8315-cb424ce4c5c8",
      "name": "Insert Catalog Line",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3200, 304],
      "credentials": { "supabaseApi": { "id": "kkiHzEYLOtK6ZLEy", "name": "Nika" } }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "catalog_lines",
        "matchType": "allFilters",
        "filters": { "conditions": [ { "keyName": "id", "condition": "eq", "keyValue": "={{ $json.match_line_id }}" } ] },
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "action,match_line_id"
      },
      "id": "4afc47ed-ac6f-419e-9c7a-7531eebe1258",
      "name": "Update Catalog Line",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3200, 496],
      "credentials": { "supabaseApi": { "id": "kkiHzEYLOtK6ZLEy", "name": "Nika" } }
    },
    {
      "parameters": { "tableId": "raw_entries", "dataToSend": "autoMapInputData" },
      "id": "450ae0f8-f443-479b-8481-d259e918c7c7",
      "name": "Insert Raw Entry",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2976, 592],
      "credentials": { "supabaseApi": { "id": "kkiHzEYLOtK6ZLEy", "name": "Nika" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.eu.llamaindex.ai/api/v1/parsing/upload",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "Bearer XXXXX" } ] },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": { "parameters": [ { "parameterType": "formBinaryData", "name": "file", "inputDataFieldName": "data" } ] },
        "options": { "timeout": 300000 }
      },
      "id": "c11e2ade-7c4f-44af-acbe-b85f89cde766",
      "name": "Llamma Parse 1st Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [816, 592],
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "url": "=https://api.cloud.eu.llamaindex.ai/api/v1/parsing/job/{{ $('Llamma Parse 1st Call').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "Bearer XXXXX" } ] },
        "options": {}
      },
      "id": "90897cf8-4e17-4c1f-878e-219653931c99",
      "name": "LlamaParse Job Status1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 592],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.eu.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/json",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "Bearer XXXXX" } ] },
        "options": { "timeout": 300000 }
      },
      "id": "3ac53c50-025f-4121-b89f-bf13ba62b5ff",
      "name": "Llamma Parse 3rd Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1744, 592],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// One raw_entries row per processed source (audit + dedupe link),\n// mapped to the REAL raw_entries columns. Full payload kept in `extracted` (jsonb).\nconst out = [];\nconst inputs = $input.all();\nfor (let i = 0; i < inputs.length; i++) {\n  let result = inputs[i].json;\n  result = result.message?.content ?? result.content ?? result;\n  if (typeof result === \"string\") { try { result = JSON.parse(result); } catch (e) {} }\n\n  let src = {};\n  try { src = $(\"Set Fields\").itemMatching(i).json; } catch (e) {}\n\n  out.push({ json: {\n    received_at: src.date ?? null,\n    sender: src.from ?? null,\n    label: result?.label ?? null,\n    subject: src.subject ?? null,\n    source_email_id: src.message_id ?? null,\n    ean: result?.items?.[0]?.ean ?? null,\n    confidence: result?.overall_confidence ?? null,\n    status: \"new\",\n    extracted: {\n      result: result ?? null,\n      source_body: src.body ?? null,\n      source_attachments: src.attachments_text ?? null,\n    },\n  } });\n}\nreturn out;"
      },
      "id": "900698e5-c433-4574-8b48-16febc404c1a",
      "name": "Build Raw Entry1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2752, 592]
    }
  ],
  "connections": {
    "Webhook": { "main": [ [ { "node": "Mark Processing", "type": "main", "index": 0 }, { "node": "Senders", "type": "main", "index": 0 }, { "node": "Glossary", "type": "main", "index": 0 }, { "node": "Exclusions", "type": "main", "index": 0 }, { "node": "MandatoryFields", "type": "main", "index": 0 }, { "node": "LabelNotes", "type": "main", "index": 0 }, { "node": "Open Catalog Lines", "type": "main", "index": 0 }, { "node": "Download File", "type": "main", "index": 0 } ] ] },
    "Download File": { "main": [ [ { "node": "Llamma Parse 1st Call", "type": "main", "index": 0 } ] ] },
    "Wait Parse": { "main": [ [ { "node": "LlamaParse Job Status1", "type": "main", "index": 0 } ] ] },
    "If Parse Done": { "main": [ [ { "node": "Llamma Parse 3rd Call", "type": "main", "index": 0 } ], [ { "node": "Wait Parse", "type": "main", "index": 0 } ] ] },
    "Set Fields": { "main": [ [ { "node": "AI Intelligence", "type": "main", "index": 0 } ] ] },
    "AI Intelligence": { "main": [ [ { "node": "If", "type": "main", "index": 0 }, { "node": "Mark Done", "type": "main", "index": 0 } ] ] },
    "If": { "main": [ [ { "node": "Build Catalog Rows", "type": "main", "index": 0 }, { "node": "Build Raw Entry1", "type": "main", "index": 0 } ] ] },
    "Build Catalog Rows": { "main": [ [ { "node": "Route Action", "type": "main", "index": 0 } ] ] },
    "Route Action": { "main": [ [ { "node": "Insert Catalog Line", "type": "main", "index": 0 } ], [ { "node": "Update Catalog Line", "type": "main", "index": 0 } ] ] },
    "Llamma Parse 1st Call": { "main": [ [ { "node": "Wait Parse", "type": "main", "index": 0 } ] ] },
    "LlamaParse Job Status1": { "main": [ [ { "node": "If Parse Done", "type": "main", "index": 0 } ] ] },
    "Llamma Parse 3rd Call": { "main": [ [ { "node": "Set Fields", "type": "main", "index": 0 } ] ] },
    "Build Raw Entry1": { "main": [ [ { "node": "Insert Raw Entry", "type": "main", "index": 0 } ] ] }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "be02d0c81971395717609b69bec1057537ae54d926b602a3992bcf63fd9d8f1f" }
}
